services:
  app:
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - app-database
    restart: always
    container_name: app-backend
  app-database:
    image: postgres:17-alpine
    container_name: app-database
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    networks:
      - private_network

